@charset "UTF-8";
.fancy label {
  display: inline-flex;
  align-items: baseline;
margin-bottom: 0 !important;
	float: right;

}
.fancy label input[type=checkbox],
.fancy label input[type=radio] {
  position: relative;
	top: -4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.8em;
  margin: 0;
  color: #FF6322;
  outline: none;
 font-family: 'Font Awesome\ 5 Free';
  transition: 300ms ease-out;
}
.fancy label input[type=checkbox]::after,
.fancy label input[type=radio]::after {
	font-family: 'Font Awesome\ 5 Free';
  content: '\f111';
  display: inline-block;
  text-align: center;
  width: 1em;
}
.fancy label input[type=checkbox]:checked::after,
.fancy label input[type=radio]:checked::after {
  font-weight: 900;
}
.fancy label input[type=checkbox]:active,
.fancy label input[type=radio]:active {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fancy label input[type=checkbox] + span,
.fancy label input[type=radio] + span {
  margin-left: .35em;
}
.fancy label input[type=checkbox]:checked::after {
  content: '\f058';
}
.fancy label input[type=radio]:checked::after {
  content: '\f192';
}

.fancy.square label input[type=checkbox]:after {
  content: '\f0c8';
}
.fancy.square label input[type=checkbox]:checked::after {
  content: '\f14a';
}

@media (max-width: 320px) {
	.fancy label input[type=checkbox],
.fancy label input[type=radio] {
	top: 0px;
	font-size: 1.3em;}
}