
html, body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #F7F7F7;
  margin: 0px;
  padding:0px;
  width: 100%;
  overflow-x: hidden;
}

th, td {
    padding: 5px;
    border: 1px solid #000;
}

h2 {
  font-weight: bold;
  color: #FF6322;
  text-align: center;
}

a {
    color: #323232;
}

a:hover {
    color: #000;
    text-decoration: none;
}

p, a span {
    color: #323232;
}

#content{
  overflow-y: scroll;
  padding-bottom: 50px;
}

#navigation{
  margin:0px;
}

.collapse.show, .navbar-collapse {
    margin-top: 20px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler {
	border: none;
	color: #323232 !important;
	opacity: 1 !important;
	padding-right: 0;
}

.help-link {
	position: absolute;
    right: 50px;
}

.listen-link {
	font-size: .85rem;
	padding: .5rem 1.4rem !important;
	margin-top: 20px !important;
}


.featured {
	letter-spacing: 1px;
	margin-bottom: 100px;
}

.featured h5{
	text-transform: uppercase;
	color: #333;
	font-size: 1rem;
}

.top .box {
    margin-bottom: 30px;
}

.featured h3, .top .box h3{
	color: #333;
	font-size: 1rem;
	padding: 0 15px;
}

.top .box h3{
	padding-left: 80px;
}

.top h5 {
    text-transform: uppercase;
    color: #333;
    font-size: 1rem;
	letter-spacing: 1px;
}

.featured p {
	text-transform: uppercase;
	font-weight: 400;
	color: #afafaf;
	font-size: .65rem;
}

.top .box p {
	font-weight: 500;
	color: #afafaf;
	font-size: .85rem;
	padding-left: 80px;
}

.featured span {
	color: #afafaf;
	font-size: .80rem;
}

.featured-recipes img {
	width: 90%;
	border-radius: 6px;
}

.recipes {
	position: relative;
}

.fav-btn {
	color: #FFF;
	width:24px;
	height: 24px;
	border-radius: 50%;
	background-color:#FF6322;
	position: absolute;
	top: 10px;
	right: 10px;
	padding-top: 1px;
	cursor: pointer;
}

.fav-btn i {
	font-size: 13px;
}

.box.grid.recipes img {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.box.grid.recipes {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
  margin-bottom: 30px;
}

.box.grid.recipes .tag {
	display: block;
}

.recipe-page {
	margin-top: 50px;
}

.recipe-page .image-recipe img{
	width:100%;
}

.list-box {
	display: block !important;
}

.list-box .col-12 {
  padding: 20px;
}

.ingredients {
	padding: 0px;
	padding-right: 0px;
	text-align: left;
	list-style-type: none;
}

.ingredients .fa {
	font-size: .20rem;
}

.ingredients li {
	margin: 15px 0;
}

.ingredients li span{
	color: #333 !important;
	padding: 10px 0 !important;
}

.recipe-detail {
	padding: 20px 0;
}

.recipe-detail ol.directions>li {
    padding-left: 15px;
	text-align: left;
	font-size: .75rem;
	color: #333;
	display: table;


}

/*.recipe-detail ol.directions>li:before {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 3px;
    left: -28px;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #FFF;
    background-color: #FF6322;
    content: counter(li-counter);
    counter-increment: li-counter;
    cursor: default;
    border-radius: 50%;
	line-height: 1.8rem;
}
*/
.recipes ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
	padding-right: 15px;
}

.fa-selected {
  color: #FF6322;
}

.social-link {
	width: 40px;
	display: inline;
	margin-left: 15px;
}

.social-link a {
	font-size: .75rem;
	color:#afafaf;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-link a:hover {
	color: #323232;
}

.social-link a:visited {
	color: #FF6322 !important;
}

.category-box {
	position: relative;
}

.category-box a {
	display: block;
	padding: 10px;
	color: #323232;
	font-weight: 500;
	background-color: #FFF;
	border-radius: 3px;
	text-transform: uppercase;
	margin-bottom: 15px;
	border: 1px solid #FFF;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.category-box a:checked, .category-box a:hover, .category-box a:active, .category-box a:focus {
	color: #000;
	border: 1px solid #323232;

}

.food-icon {
	position: absolute;
    left: 10px;
    top: 10px;
}

.food-icon img {
	width: 30px;
	height: auto;
	opacity: .7;
}

.food-cat-icon {
}

.profile-name {
	font-size: 1.2rem !important;
}

.user-box a {
	font-size: .9rem;
	line-height: 1.5rem;
	text-align: left;
	padding: 12px 0;
	display: block;
	color: #323232;
	border-bottom: 1px solid #AFAFAF;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.user-box i {
	color: #AFAFAF;
}

.chef-bio {
  text-align: left;
  text-transform: none !important;
  font-size: .75rem !important;
    color: #333 !important;

}


.top {
	padding-top: 70px;
}

.image-profile {
	background-color: #FFF;
	height: 100px;
	position: relative
}

.image-profile img {
	position: absolute;
	top:25px;
	left: 0;
	right: 0;
	margin: auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #FF8C2B;
	padding: 5px;

}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.read {
	opacity: .5;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* POSICIONAMIENTO */

.mt--7 {
	margin-top: -7px;
}

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.h-25 {
  height: 25% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.mw-100 {
  max-width: 100% !important; }

.mh-100 {
  max-height: 100% !important; }

.m-0 {
  margin: 0 !important; }

.mt-tag {
  margin-top: 0.20rem !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0, .rtl .settings-panel .sidebar-bg-options .rounded-circle, .rtl .settings-panel .sidebar-bg-options .color-tiles .tiles, .rtl .settings-panel .color-tiles .sidebar-bg-options .tiles, .rtl .settings-panel .events i,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1, .editable-container.editable-inline .editableform .control-group .editable-buttons .editable-submit, .editable-container.editable-inline .editableform .control-group .editable-buttons .editable-cancel,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2, .template-demo > .btn, .ajax-upload-dragdrop .template-demo > .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .template-demo > .swal2-styled, .wizard > .actions .template-demo > a, .template-demo > .btn-toolbar, .template-demo > .btn-group, .template-demo .circle-progress,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2, .template-demo > .btn, .ajax-upload-dragdrop .template-demo > .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .template-demo > .swal2-styled, .wizard > .actions .template-demo > a, .template-demo > .btn-toolbar, .template-demo > .btn-group, .template-demo .dropdown,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2, .btn-toolbar .btn-group + .btn-group, .rtl .settings-panel .events i,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3, .template-demo .circle-progress-block, .user-profile .side-left .card .avatar img,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3, .rtl .settings-panel .sidebar-bg-options .rounded-circle, .rtl .settings-panel .sidebar-bg-options .color-tiles .tiles, .rtl .settings-panel .color-tiles .sidebar-bg-options .tiles,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4, .user-profile .side-left .card .avatar img,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-45 {
  margin-bottom: 2rem !important; }

.mb-4, .user-profile .side-left .card .overview .about-user,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.mb-6,
.my-6 {
  margin-bottom: 4rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.ml-6,
.mx-6 {
  margin-left: 4rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2,
.template-demo .circle-progress-block {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2,
.template-demo .circle-progress-block {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

 .pb-6,
.py-6 {
  padding-bottom: 4rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

.orange {
	color: #FF6322;
}

.form-container {
	margin-top: 100px !important;
}

.btn {
    border-width: 2px;
    font-style: normal;
	text-transform: uppercase;
    white-space: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 50px;
    border-radius: 100px;
	border:none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
	min-width: 250px;
	letter-spacing: 2px;
	margin: 10px;
}

.btn-sm {
    padding: .75rem 1.5rem;
}

.btn-primary {
background: rgba(255,140,43,1);
background: -moz-linear-gradient(left, rgba(255,140,43,1) 0%, rgba(255,99,34,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,140,43,1)), color-stop(100%, rgba(255,99,34,1)));
background: -webkit-linear-gradient(left, rgba(255,140,43,1) 0%, rgba(255,99,34,1) 100%);
background: -o-linear-gradient(left, rgba(255,140,43,1) 0%, rgba(255,99,34,1) 100%);
background: -ms-linear-gradient(left, rgba(255,140,43,1) 0%, rgba(255,99,34,1) 100%);
background: linear-gradient(to right, rgba(255,140,43,1) 0%, rgba(255,99,34,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8c2b', endColorstr='#ff6322', GradientType=1 );

}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #FF6322;
    background-image: none;
    border-color: #FF6322;
}

.btn-primary:hover {
    background-color: #FF6322;
    background-image: none;
    border-color: #FF6322;
}

.btn-secondary {
	border: 2px solid #FF8C2B;
	background: #FFF;
	color: #FF8C2B;
}

.btn-secondary:hover {
    color: #FF6322;
    background-color: #FFF;
    border-color: #FF6322;
}

.page .title h1 {
	font-size:2.5rem;
	margin-bottom:10px;
	color:#FF6322;
	text-transform: uppercase;
    letter-spacing: 4px;
}

.navbar h5 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar-bottom {
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px;
	box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* Style the links inside the navigation bar */
.navbar-bottom .nav-item a {
    float: center;
    display: block;
    color: #AFAFAF;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

/* Add a color to the active/current link */
.navbar-bottom .nav-item a.active {
    border-bottom: 2px #FF8C2B solid;
    color: #FF8C2B;
}

.navbar-bottom ul{
  width:100%;
}
.navbar-bottom li{
  width:100%;
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-control {
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0);
	height: 50px !important

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FF8C2B;
    outline: 0;
}

#categories_headers{
  margin-bottom: 10px;
}

#categories_items{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color:#323232;
  background-color: #fff;
}
#categories_names{
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  top: 20%;
  color: #323232;
}
#back{
  position: absolute;
  top: 5px;
  left: 15px;
  color: #fff;
  font-size: 18px;
}
#search{
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  font-size: 18px;
}
#category_header{
  padding:0px;
}

#category_name{
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 10px 0px;
  max-width: 100%;
  color: #323232;
}
#category_name h2 {
  font-weight: normal;
  font-size: 20px;
  color: #323232;
  text-align: center;
  margin-bottom: 0rem;
}

#category_name p {
  font-weight: normal;
  font-size: 12px;
  color: #9E9E9E;
  text-align: center;
  text-transform: none;
}

#category_image_div{
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  position: relative;
  width: 100%;
  padding: 0px;
  max-height: 180px;
  overflow: hidden;
}
#category_image{
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
}

#recipe_div{
  padding: 0px 15px 15px 15px;
  width: auto;
  max-width: 100%;
  position: relative;
  flex: 0 0 0%;
}

#recipe_image_div {
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  position: relative;
  width: 100%;
  padding: 0px;
  max-height: 100px;
  overflow: hidden;
}
#recipe_image {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
}

#recipe_name_div{
  background-color: #fff;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  padding: 5px 5px 5px 5px;
  max-width: 100%;
  color: #323232;
}

#recipe_name {
  font-size: 12px;
}
#recipe_icons{
  width: 100%;
  list-style: none;
  text-transform: none;
  text-align: justify;
  font-size: 12px;
}

#recipe_icons ul {
  padding: 0px;
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

#recipe_icon_list li {
  display: inline-flex;
  position: relative;
  align-items: center;
  color: #9E9E9E;
}
#recipe_icon_list > li > i {
  color: #9E9E9E;
  padding:5px;
}

.empty-container img {
  width: 180px;
  padding-left: 20px;
}

.top .box img {
    width: 60px !important;
    height: 60px!important
}

.search .select2-container .select2-selection--multiple {
	height: auto !important
}

.slick-prev, .slick-next {
    display: none !important;
}

.modal-content {
    border: none;
    border-radius: .6rem;
}

.modal .modal-dialog {
    margin-top: calc(58px + 60px);
}

.modal-title {
    letter-spacing: 1px;
	text-transform: uppercase;
}

.modal-footer {
	display: block;
	text-align: center;
}

.modal-footer>:not(:first-child), .modal-footer>:not(:last-child) {
    margin-left: 0 !important;
	margin-right: 0 !important;
}

.close {
    font-size: 2rem;
    font-weight: 300;
	text-shadow: none!important;
}

@media (max-width: 320px) {
  #recipe_icon_list li {
    display: block;
  }
  #recipe_icons ul {
    display: block;
  }

.box.grid.recipes .tag {
	display: flex;
}
}

.container{
  max-width: 540px;
}

@media (min-width: 992px) {
	.navbar {
	padding: 10px;
	}
	.navbar-toggler {
    position: absolute;
    right: 10px;
	top: 10px;
	}
	.search-link {
	position: absolute;
	left: 15px;
	top: 10px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	}
	.btn-search {
		margin-top: 20px;


	}
}
