{% load static %}

<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!---Font Icon-->
    <link href="{% static "web/css/font-awesome.min.css" %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

     <meta name="apple-mobile-web-app-capable" content="yes" />
     <meta name="mobile-web-app-capable" content="yes">
     <meta name="description" content="Tasty Food">
     <meta name="author" content="T-mob">
     <link rel="apple-touch-icon-precomposed" href="{% static "web/images/apple-touch-icon-precomposed.png" %}" >
     <link rel="apple-touch-icon-precomposed" href="{% static "web/images/apple-touch-icon-72x72-precomposed.png" %}" >
     <link rel="apple-touch-icon-precomposed" href="{% static "web/images/apple-touch-icon-114x114-precomposed.png" %}" >
     <link rel="apple-touch-icon-precomposed" href="{% static "web/images/apple-touch-icon-144x144-precomposed.png" %}" >


    <!-- CSS -->
    <link href="{% static "web/css/bootstrap.min.css" %}"  rel="stylesheet">
    <link href="{% static "web/css/loadbuttons.css" %}" rel="stylesheet">
    <link href="{% static "web/css/styles.min.css" %}"  rel="stylesheet">
    <link href="{% static "web/css/select2.min.css" %}"  rel="stylesheet">
	<link href="{% static "web/css/style.css" %}"  rel="stylesheet">
	<link href="{% static "web/css/slick.css" %}"  rel="stylesheet">
	<link href="{% static "web/css/slick-theme.css" %}"  rel="stylesheet">
	<link href="{% static "web/css/coolshare.css" %}"  rel="stylesheet">
	<link href="{% static "web/css/fancy-checkbox.css" %}" rel="stylesheet">
	<link href="{% static "web/css/step-list.css" %}" rel="stylesheet">

    <script src="{% static "web/js/modernizr.custom.js" %}" ></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "web/images/favicon.png" %}"  />
    <link rel="icon" href="{% static "web/images/favicon.png" %}"  />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>

    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>
<body>
	 <!-- MENU -->

   <nav class="navbar navbar-light fixed-top">
       <div class="container-fluid justify-content-center">
     <a href="index.html"><h5 class="orange mb-0">{{title}}</h5></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class=""><i class="fa fa-search"></i></span>
     </button>

           <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">

               <!-- Search -->

   <div class="search pb-0">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <form action="{% url 'search' %}" method="post">
                       {% csrf_token %}
                   <div class="row">
                       <div class="col-lg-12 col-md-12 col-sm-12">
                           <div class="form-group">
                               <label>Seleccioná Categoría</label>
                               <select class="js-search-category form-control" name="category" data-placeholder="Choose Category">
                                   {% for category in categories %}
                                       <option value="{{category.id}}">{{category.name}}</option>
                                   {% endfor %}
                               </select>
                           </div>
                       </div>
                       <div class="col-lg-12">
                           <div class="form-group text-center">
                               <input type="text" class="form-control" placeholder="Buscar por ingrediente" name="ingredient">
                               <button type="submit" class="btn btn-primary btn-search">Buscar</button>
                           </div>
                       </div>
                   </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
           </div>
       </div>
   </nav>

	{% block content %}

    {% endblock %}

    <!-- Navigation -->

    <div id="navigation">
  <nav class="navbar-bottom navbar-expand">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link {% if page == 'home' %} active {% endif %}"><i class="fas fa-home"></i></a></li>
      <li class="nav-item"><a href="{% url 'categories' %}" class="nav-link {% if page == 'categories' %} active {% endif %}"><i class="fas fa-utensils"></i></a></li>
      <li class="nav-item"><a href="{% url 'favorites' %}" class="nav-link {% if page == 'favorites' %} active {% endif %}"><i class="fas fa-heart"></i></a></li>
	<li class="nav-item"><a href="{% url 'videos' %}" class="nav-link {% if page == 'videos' %} active {% endif %}"><i class="fas fa-video"></i></a></li>
    </ul>
  </nav>

</div>



    <!-- Javascript -->

    <script src="{% static "web/js/jquery.min.js"%}"></script>
    <script src="{% static "web/js/popper.min.js"%}"></script>
    <script src="{% static "web/js/bootstrap.min.js"%}"></script>
    <script src="{% static "web/js/select2.min.js"%}"></script>
    <script src="{% static "web/js/jquery-ui.js"%}"></script>
	<script src="{% static "web/js/slick.min.js"%}"></script>
	<script src="{% static "web/js/slick-responsive.js"%}"></script>
    <script src="{% static "web/js/scripts.js"%}"></script>
	<script src="{% static "web/js/coolshare.js"%}"></script>
	<script src="{% static "web/js/fancy-checks.js"%}"></script>




</body>



</html>
