{% extends 'web/base.html' %}

{% load static %}
{% block content %}
{% if categories %}
<div class="featured">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Categories-->
            <div class="col-lg-8 col-md-12 col-sm-12">
                {% for category in categories %}
                <div class="category-box">
                    <span class="food-icon">
                        <img src="{{category.icon.url}}"> 
                    </span>
                    <a href="{% url 'category' category.id %}">{{category.name}}</a>
                </div>
                {% endfor%}

                <div class="category-box">
                    <span class="food-icon">
                        <img src="{% static "web/images/icon_chef.svg" %}"> 
                    </span>
                    <a href="{% url 'chefs' %}">CHEFS</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="featured">
    <div class="container">
        <div class="row justify-content-center">
            <!-- No Categories-->
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="empty-container mt-4 mb-5">
                    <img src="{% static "web/images/empty-categories.svg" %}">
                </div>
                <div class="form-group">
                    <h5 class="mt-3 mb-3">No se encontraron Categorías</h5>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}