{% extends 'web/base.html' %}

{% load static %}
{% block content %}

	<!-- Image Recipes-->

    <div class="featured recipe-page">
		<div class="row">
			<div class="col-12 image-recipe">
			<img src="{{chef.image.url}}">
			</div>
		</div>

        <div class="container mt-4">

            <div class="row justify-content-center">

                <div class="col-lg-12 mb-4">
					<h3 class="mb-1">{{chef.name}}</h3>
          <div class="tag mb-3">
              <span><i class="fa fa-book-open mr-1"></i>{{n_recipes}} Recetas</span>
          </div>
          <div class="row list-box justify-content-center bg-white">
  				<div class="col-12">
          <p class="chef-bio">
           <strong>Biografía</strong><br /></p>
          <p class="chef-bio">{{chef.biography}}</p>
          </div>
  			  </div>
        </div>
			 	<div class="col-lg-8 col-md-12 col-sm-12">
                {% for recipe in recipes %}
                    <div class="box grid recipes">
                        <a href="{% url 'recipe' recipe.id %}"><img src="{{recipe.preview}}" alt=""></a>
                        <h3 class="mb-3 text-left"><a href="recipe-detail.html">{{recipe.name}}</a></h3>
                        <div class="tag">
							<span class="float-left mt-tag"><i class="fa fa-clock mr-1"></i>{{recipe.get_duration_display}}</span>
							<span class=""><i class="fas fa-sliders-h mr-1"></i>{{recipe.get_level_display}}</span>
							<span class="float-right mt-tag"><i class="fas fa-utensils mr-1"></i>{{recipe.serving}} Comensal{{ recipe.serving|pluralize:"es" }}</span>
                        </div>
                    </div>

                {% endfor %}

                </div>
				</div>

			<div class="col-lg-12">
            </div>
        </div>
    </div>

{% endblock %}