{% extends 'web/base.html' %}

{% load static %}
{% block content %}
    <div class="featured recipe-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    {% for chef in chefs %}
                        <div class="box grid recipes mt-4">
                            <a href="{% url 'chef' chef.id %}"><img src="{{chef.image.url}}" alt=""></a>
                            <h3 class="mb-0">{{chef.name}}</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12"> </div>
        </div>
    </div>
{% endblock %}