{% extends 'web/base.html' %}

{% load static %}
{% block content %}

{% if favorites %}

	<!-- Featured Recipes-->

    <div class="featured">

        <div class="container">

            <div class="row justify-content-center">

				<!-- Favorites -->

                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="box grid recipes">
                        <a href="recipe-detail.html"><img src="{% static "web/images/recipe1.jpg" %}" alt=""></a>
						<div class="row">
							<div class="col-8">
						<p class="category text-left">Ensaladas</p>
							</div>
							<div class="col-4 mt--7">
							<ul>
								<li class="social-link"><a href="#" onClick="return false;" data-toggle="modal" data-target="#delete_fav" class=""><i class="fas fa-trash"></i></a></li>
								<!--<li class="social-link"><a href="#" onClick="return false;" class="socialShare"></a></li>-->
							</ul>
							</div>
						</div>
                        <h3 class="mb-3 text-left"><a href="recipe-detail.html">Ensalada de Tomate y Pepino</a></h3>
                        <div class="tag">
							<span class="float-left mt-tag"><i class="fa fa-clock mr-1"></i>15 Minutos</span>
							<span class=""><i class="fas fa-sliders-h mr-1"></i>Fácil</span>
							<span class="float-right mt-tag"><i class="fas fa-utensils mr-1"></i>6 Personas</span>
                        </div>
                    </div>
					<div class="box grid recipes">
                        <a href="recipe-detail.html"><img src="{% static "web/images/recipe8.jpg" %}" alt=""></a>
						<div class="row">
							<div class="col-8">
						<p class="category text-left">Desayuno y Brunch</p>
							</div>
							<div class="col-4 mt--7">
							<ul>
								<li class="social-link"><a href="#" onClick="return false;" data-toggle="modal" data-target="#delete_fav" class=""><i class="fas fa-trash"></i></a></li>
								<!--<li class="social-link"><a href="#" onClick="return false;" class="socialShare"></a></li>-->
							</ul>
							</div>
						</div>
                        <h3 class="mb-3 text-left"><a href="recipe-detail.html">Panqueques Americanos</a></h3>
                        <div class="tag">
							<span class="float-left mt-tag"><i class="fa fa-clock mr-1"></i>15 Minutos</span>
							<span class=""><i class="fas fa-sliders-h mr-1"></i>Fácil</span>
							<span class="float-right mt-tag"><i class="fas fa-utensils mr-1"></i>6 Personas</span>
                        </div>
                    </div>

					<div class="box grid recipes">
                        <a href="recipe-detail.html"><img src="{% static "web/images/recipe6.jpg" %}" alt=""></a>
						<div class="row">
							<div class="col-8">
						<p class="category text-left">Pastas</p>
							</div>
							<div class="col-4 mt--7">
							<ul>
								<li class="social-link"><a href="#" onClick="return false;" data-toggle="modal" data-target="#delete_fav" class=""><i class="fas fa-trash"></i></a></li>
								<!--<li class="social-link"><a href="#" onClick="return false;" class="socialShare"></a></li>-->
							</ul>
							</div>
						</div>
                        <h3 class="mb-3 text-left"><a href="recipe-detail.html">Torteletis</a></h3>
                        <div class="tag">
							<span class="float-left mt-tag"><i class="fa fa-clock mr-1"></i>15 Minutos</span>
							<span class=""><i class="fas fa-sliders-h mr-1"></i>Fácil</span>
							<span class="float-right mt-tag"><i class="fas fa-utensils mr-1"></i>6 Personas</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->

<div class="modal fade" id="delete_fav" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel-3">¿Borrar favorito?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Borrar</button>
                          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
{% else %}

{% endif %}
<div class="featured">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="empty-container mt-4 mb-5">
                    <img src="{% static "web/images/empty-favs.svg" %}">
                </div>
                <div class="form-group">
                    <h5 class="mt-3 mb-3">No se encontraron Favoritos</h5>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}