{% extends 'web/base.html' %}

{% load static %}
{% block content %}

<!-- Featured Recipes-->

    <div class="featured">

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-12">

                    <h5 class="text-left mb-3">{{showcase.0.name}}</h5>

                </div>
                <div class="col-lg-12 pr-0">
                    <div class="featured-recipes home-slide mb-3">
                        {% for recipe_in in showcase.0.recipes.all %}
                        <div><a href="{% url 'recipe' recipe_in.recipe.id%}"><img src="{{ recipe_in.recipe.preview }}"></a></div>
                        {% endfor %}

                        {% for chef_in in showcase.0.chef.all %}
                        <div><a href="{% url 'chef' chef_in.chef.id %}"><img src="{{ chef_in.chef.preview }}"></a></div>
                        {% endfor %}
                    </div>
                </div>

				<!-- Lasts Recipes-->

                <div class="col-lg-12">
                    <h5 class="text-left mb-3">{{showcase.1.name}}</h5>
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12">
                    {% for recipe_in in showcase.1.recipes.all %}
                    <div class="box grid recipes">
                        <a href="{% url 'recipe' recipe_in.recipe.id%}"><img src="{{recipe_in.recipe.preview}}" alt=""></a>
                        <div class="row">
                            <div class="col-8">
                                <p class="category text-left">{{recipe_in.recipe.category.name}}</p>
                            </div>
                            <div class="col-4 mt--7">
                                <ul>
                                    <li class="social-link"><a href="#" onClick="return false;" class=""><i class="fa fa-heart fa-selected"></i></a></li>
                                    <!--<li class="social-link"><a href="#" onClick="return false;" class="socialShare"></a></li>-->
                                </ul>
                            </div>
                        </div>
                        <h3 class="mb-3 text-left"><a href="recipe-detail.html">{{recipe_in.recipe.name}}</a></h3>
                        <div class="tag">
                            <span class="float-left mt-tag"><i class="fa fa-clock mr-1"></i>{{recipe_in.recipe.get_duration_display}}</span>
                            <span class=""><i class="fas fa-sliders-h mr-1"></i>{{recipe_in.recipe.get_level_display}}</span>
                            <span class="float-right mt-tag"><i class="fas fa-utensils mr-1"></i>{{recipe_in.recipe.serving}} Comensal{{ recipe_in.recipe.serving|pluralize:"es" }}</span>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}