{% extends 'web/base.html' %}

{% load static %}
{% block content %}

    <!-- Login form-->

	<div class="page contact">

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-12 title text-center mb-2 mt-4">

					<h1>Ingresar</h1>
					<p>¡Nos encanta volver a verte!</p>

                </div>

                <div class="col-lg-8 content text-center mt-4">

                    <form>

                        <div class="form-group">

                            <input type="mail" class="form-control" placeholder="Tu Email">

                        </div>

                        <div class="form-group mb-5">

                            <input type="password" class="form-control" placeholder="Password">

                        </div>
                        <a href="index.html" class="btn btn-primary mb-4">Ingresar</a><br/>
						            <a href="password-recover.html">¿Olvidaste el password?</a>


                    </form>

                </div>

            </div>

        </div>

    </div>

 {% endblock %}