{% extends 'web/base.html' %}

{% load static %}
{% block content %}

    <!-- Login form-->

	<div class="page contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 title text-center mb-2 mt-4">
					<h1>Registrate</h1>
					<p>¡Y empezá a comer rico!</p>
                </div>
                <div class="col-lg-8 content text-center mt-4">
                    <form>
                        <div class="form-group featured">
                            <input type="text" class="form-control" placeholder="Número de celular">
                            <span>Sin 15 y código de área. Ej: 11XXXXXXXX</span>
                        </div>
                        <a href="pincode.html" class="btn btn-primary mb-4">enviar</a><br/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}