{% extends 'web/base.html' %}

{% load static %}
{% block content %}

	<!-- Notifications-->

	<div class="top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="box clearfix">
                        <a href="recipe-detail.html"><img src="{% static "web/images/square-recipes1.jpg" %}" alt=""></a>
                        <h3><a href="recipe-detail.html">Galletas con canela</a></h3>
                        <p>Lorem ipsum dolor sit amet, adipiscing elit...</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="box clearfix">
                        <a href="recipe-detail.html"><img src="{% static "web/images/square-recipes2.jpg" %}" alt=""></a>
                        <h3><a href="recipe-detail.html">Mix de frutas con jugo de limón</a></h3>
                        <p>Lorem ipsum dolor sit amet, adipiscing elit...</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="box clearfix read">
                        <a href="recipe-detail.html"><img src="{% static "web/images/square-recipes3.jpg" %}" alt=""></a>
                        <h3><a href="recipe-detail.html">Tarta de queso y frutos rojos</a></h3>
                        <p>Lorem ipsum dolor sit amet, adipiscing elit...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
