{% extends 'web/base.html' %}

{% load static %}
{% block content %}	
    
    <!-- Image Recipes-->

    <div class="featured recipe-page">
		<div class="row">
			<div class="col-12 image-recipe">
     <div class="recipe-slide">
         {% if recipe.video %}
             <iframe src="{{recipe.video}}" width="320" height="180" frameborder="0" allowfullscreen></iframe>
         {% endif %}
         {% for img in recipe.images.all %}
             <img src="{{img.image.url}}" alt="header">
         {% endfor %}
    </div>
			</div>
		</div>

        <div class="container mt-4">

            <div class="row justify-content-center">

                <div class="col-lg-12">
                    <p class="category">{{recipe.category.name}}</p>
					<h3 class="mb-3"><a href="recipe-detail.html">{{recipe.name}}</a></h3>
					 <div class="tag">

                         
							<span class="float-left mt-tag"><i class="fa fa-clock mr-1"></i>{{recipe.get_duration_display}}</span>
							<span class=""><i class="fas fa-sliders-h mr-1"></i>{{recipe.get_level_display}}</span>
							<span class="float-right mt-tag"><i class="fas fa-utensils mr-1"></i>{{recipe.serving}} Comensal{{ recipe.serving|pluralize:"es" }}</span>
                        </div>
                    {% if recipe.spotify %}
					    <a href="recipe.spotify" class="btn btn-primary listen-link"><i class="fas fa-headphones mr-2"></i>Cociná con esta playlist</a>
                    {% endif %}
                    <h5 class="mt-3 mb-3">Ingredientes</h5>
                </div>
			   </div>
			  <div class="row list-box justify-content-center bg-white">

				<div class="col-12">
                                <ul class="ingredients fancy">
								{% for ingredient in recipe.ingredients.all %}
									<li><span>{{ingredient.name}}<label for=""><input id="" name="" type="checkbox" value=""/></label></span></li>
								{% endfor %}
                                </ul>
                            </div>
			  </div>
			<div class="col-lg-12">
			 <h5 class="mt-4 mb-3">Paso a Paso</h5>
            </div>
			<div class="row bg-white recipe-detail mb-4">
				<div class="col-12">
							   <ol class="directions">
							   {% for step in steps%}
                                    <input class="tgl tgl-flip" id= "cb{{ forloop.counter0 }}" type="checkbox"/>
    								<label class="tgl-btn" data-tg-off="{{step.order}}" for="cb{{ forloop.counter0 }}"></label>
								   	<li>{{step.process}}</li>
								{% endfor %}
                                </ol>
                            </div>
			</div>
			<!--<div class="col-lg-12">
            <span class="social-recipe ml-0">
              <a class="fa fa-twitter" href="https://twitter.com/intent/tweet"></a>
              <a class="fa fa-facebook" href="https://facebook.com/sharer.php"></a>
              <a class="fa fa-google-plus" href="https://plus.google.com/share"></a>
            </span>
          </div>-->
        </div>
    </div>

{% endblock %}