{% extends 'web/base.html' %}

{% load static %}
{% block content %}
{% if recipes%}
<!-- Featured Recipes-->
<div class="featured">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Results-->
            <div class="col-lg-8 col-md-12 col-sm-12">
                {% for recipe in recipes %}
                <div class="box grid recipes">
                    <a href="{% url 'recipe' recipe.id %}"><img src="{{recipe.preview}}" alt=""></a>
                    <div class="row">
                        <div class="col-8">
                            <p class="category text-left">{{recipe.category.name}}</p>
                        </div>
                        <div class="col-4 mt--7">
                            <ul>
                                <li class="social-link"><a href="#" onClick="return false;" class=""><i class="fa fa-heart fa-selected"></i></a></li>
                                <!--<li class="social-link"><a href="#" onClick="return false;" class="socialShare"></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <h3 class="mb-3 text-left"><a href="recipe-detail.html">{{recipe.name}}</a></h3>
                    <div class="tag">
                        <span class="float-left mt-tag"><i class="fa fa-clock mr-1"></i>{{recipe.get_duration_display}}</span>
                        <span class=""><i class="fas fa-sliders-h mr-1"></i>{{recipe.get_level_display}}</span>
                        <span class="float-right mt-tag"><i class="fas fa-utensils mr-1"></i>{{recipe.serving}} Comensal{{ recipe.serving|pluralize:"es" }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="featured">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="empty-container mt-4 mb-5">
                    <img src="{% static "web/images/empty-recipes.svg" %}">
                </div>
                <div class="form-group">
                    <h5 class="mt-3 mb-3">No se encontraron recetas</h5>
                    <a href="{% url 'home'%}" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock%}