{% extends 'web/base.html' %}

{% load static %}
{% block content %}

	<!-- Image Recipes-->

    <div class="featured recipe-page">
		<div class="row">
			<div class="col-12 image-profile">

			<img src="{% static "web/images/perfil.jpg" %}" alt="perfil">
			</div>
		</div>

        <div class="container mt-5">

            <div class="row justify-content-center">

                <div class="col-lg-12 mb-4 mt-5">
					<h3 class="profile-name mb-3">{{user.first_name}} {{user.last_name}}</h3>  <!--REVISAR COMO LINKEAR EL ID CON EL NOMBRE A MOSTRAR-->
                </div>

			 	<div class="col-lg-8 col-md-12 col-sm-12">
					<div class="user-box"><a href="profile-change.html"><i class="fa fa-edit mr-2"></i>Editar Perfil</a></div>
					<div class="user-box"><a href="password-change.html"><i class="fas fa-key mr-2"></i>Cambiar Contraseña</a></div>
					<div class="user-box"><a href=""><i class="fa fa-cog mr-2"></i>Preferencias</a></div>
					<div class="user-box"><a href="help.html"><i class="fas fa-question-circle mr-2"></i>Ayuda</a></div>
					<div class="user-box"><a href="welcome.html"><i class="fas fa-sign-out-alt mr-2"></i>Salir</a></div>
				</div>

        </div>
    </div>

{% endblock %}