{% extends 'web/base.html' %}

{% load static %}
{% block content %}

{% if recipes %}
    <div class="featured">
        <div class="container">
            <div class="justify-content-center">
            {% for recipe in recipes %}
                {% if recipe.video %}
                <div class="videoWrapper col-sm-12 mb-45">
                    <iframe src="{{recipe.video}}" width="320" height="180" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}
            {% endfor %}
            
            {% for v in videos %}
                <div class="videoWrapper col-sm-12 mb-45">
                    <iframe src="{{v}}" width="320" height="180" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% else %}

    <div class="featured">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="empty-container mt-4 mb-5">
                        <img src="{% static "web/images/empty-videos.svg" %}"">
                    </div>
                    <div class="form-group">
                        <h5 class="mt-3 mb-3">No se encontraron Videos</h5>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock%}